<%- include partials/header.ejs %>
<link href="content/about.css" rel="stylesheet" type="text/css">
<%- include partials/main_nav.ejs %>

<main>
    <div class="row">
      <div class="col-sm-8">
        <div class="jumbotron">
          <h1>About Me</h1>
          <p>My Name is Zhengliang Ding. I program stuff.</p>
        </div>
        <div class="row" id="bodyparagraph">
          <p>I studied in University of Toronto, majored in Computer Science and Applied Statistics, minored in Mathematics.</p>
          <p>For now, I study Game programming since I love video games.</p>
          <p>Here is an old version of my resume since the new one is still working in progress.</p>
          <p>Click to view my <a href="Assets/documents/Zhengliang Ding.pdf">resume</a>.</p>
          </div>
      </div>
      
      <!-- picture on the right-->
      <div class="col-sm-4">
        <div class="well">
          <h3>Here is a picture of me looking good!</h3>
          <img src="Assets/images/portrait.JPG" width="544" height="816">
        </div>
      </div>
    </div>
</main>


<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>