<%- include partials/header.ejs %>
<link href="content/index.css" rel="stylesheet" type="text/css">
<%- include partials/main_nav.ejs %>

<main>
    <div class="jumbotron">
      <h1 class="display-4">Hello! Welcome to my personal portfolio!</h1>
      <p class="lead">My name is Zhengliang Ding. Let me walk you through who I am.</p>
      <hr class="my-4">
      <p>I am currently studying Game Programming and my idol is Hidetaka Miyazaki.</p>
    </div>
</main>

<!-- <%- include partials/bottom_nav.ejs %>> -->
<footer>
  <nav class="navbar fixed-bottom navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/about">Explore Now</a>
    </div>
  </nav>
</footer>
<%- include partials/footer.ejs %>