<%- include partials/header.ejs %>
<link href="content/login.css" rel="stylesheet" type="text/css">
<%- include partials/main_nav.ejs %>

<main>
    <div class="row">
      <div class="col-sm-8">
        <div class="jumbotron">
          <h1>Login</h1>
        </div>
        <div class="row" id="bodyparagraph">
            
      </div>







<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>