<%- include partials/header.ejs %>
<link href="content/project.css" rel="stylesheet" type="text/css">
<%- include partials/main_nav.ejs %>

<main>
    <div class="row">
      <div class="col-sm-8">
        <div class="jumbotron">
          <h1>My Projects</h1>
          <br>
          <h2>Streamie</h2>
          <p>In the form of a group, developed a web program that can remotely watch Youtube videos by
            sharing links;</p> 
          <p>Applied agile research and development method (Jira) to implement the
            microservice architecture</p>
          <p>Mainly responsible for the presentation layer in the microservice architecture, namely the
          writing of HTML and CSS and the embedding of videos. <a href="https://github.com/MarvDi/streamie.git">Source code</a> </p>
          
          <br>
          <h2>Big Data and Artifical Intelligence Case competition</h2>
          <p>In the form of a team, utilizied the real E-transfer data provided by ScotiaBank for the
            competition</p>
          <p>Serving as the team leader to divide responsibilities for team members, mainly responsible for
            data collection and report writing</p>
          <p>By analyzing the layering stage and transfer tree of money laundering, an immediate warning
            mechanism is constructed for banks and the government</p>
          <p>which can help government departments to track suspicious human/organ trafficking behaviors</p>
          <br>
          <h2>AdventureGame</h2>
          <p>Completed a small turn-based Roguelike text adventure game independently using Python</p>
          <p>Enhance the playability by randomly generating dungeons, and uses the permanent death
            mechanism; the complete game process can reach 3-4 hours</p>
        </div>
        
      </div>
      <!-- picture on the right-->
      <div class="col-sm-4">
        <div class="well">
          <h3>Here is a picture of me in the big data competition.</h3>
          <img src="Assets/images/bigdata.jpeg" width="544" height="544">
        </div>
      </div>
    </div>
    </main>


<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>