<%- include partials/header.ejs %>
<link href="content/service.css" rel="stylesheet" type="text/css">
<%- include partials/main_nav.ejs %>

<main>
    <div class="row">
      <div class="col-sm-8">
        <div class="jumbotron">
          <h1>Services</h1>
        </div>
        <div class="row" id="bodyparagraph">
            <h3>Here is a list of my skills:</h3>
            <ul>
                <li>Programming Languages</li>
                <li style="list-style-type:none">
                  <ul>
                    <li>Python</li>
                    <li>C/C#/C++</li>
                    <li>SQL</li>
                    <li>Java</li>
                    <li>HTML/CSS</li>
                    <li>R</li>
                  </ul>
                </li>
                <li>Human Languages</li>
                <li style="list-style-type:none">
                    <ul>
                      <li>Mandarin</li>
                      <li>English</li>
                    </ul>
                  </li>
                <li>Tools</li>
                <li style="list-style-type:none">
                    <ul>
                      <li>Microsoft Office</li>
                      <li>Premiere Pro, Aftereffect</li>
                      <li>Most Programming IDE</li>
                    </ul>
                  </li>
              </ul>

      </div>

</main>



<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>