/*
File Name: login.css
Student's Name: Zhengliang Ding
Student Id: 301222388
Date: Oct 30, 2021
*/
.jumbotron {
    position: absolute;
    left: 100px;
    top: 150px;
  }
#bodyparagraph {
    position: absolute;
    left: 100px;
    top: 300px;
}
